body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4df8cd;
    color: #333;
}
h1, h2 {
    color: #001aff;
}
header {
    background-color: #5e81a7;
    color: white;
    padding: 10px 0;
    text-align: center;
}
footer {
    background-color: #5e81a7;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    line-height: 1.6;
    font-weight: bold;
}
p, h2 {
    margin-left: 15px;
    margin-right: 1.5px;
}